In [ ]:
#series are one dimensional labelled arrays of any data type

In [1]:
students = ['ruchi','radhey','krishna']

In [2]:
type(students)

list

In [3]:
pd.series(students)

NameError: name 'pd' is not defined

In [4]:
import pandas as pd

In [5]:
pd.series(students)

AttributeError: module 'pandas' has no attribute 'series'

In [6]:
pd.series(students)

AttributeError: module 'pandas' has no attribute 'series'

In [8]:
pip install pandas

Requirement already satisfied: pandas in c:\users\bisht\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\bisht\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\bisht\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\bisht\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\bisht\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd

In [10]:
pd.Series(students)

0      ruchi
1     radhey
2    krishna
dtype: object

In [11]:
mixed = [True,'atlm',{'marks':100}]

In [13]:
pd.Series(mixed)

0              True
1              atlm
2    {'marks': 100}
dtype: object

In [14]:
Ages = [23,67,89]

In [15]:
pd.Series(Ages)

0    23
1    67
2    89
dtype: int64

In [ ]:
# parameter vs. Arguments

In [16]:
pd.Series(students) # students is arguments

0      ruchi
1     radhey
2    krishna
dtype: object

In [17]:
pd.Series(data = students) # data is parameter

0      ruchi
1     radhey
2    krishna
dtype: object

In [18]:
def greeting(something):
    print(something)

In [19]:
greeting("good night")

good night

In [20]:
books_list = ["hamlet","pride and prejudice","the lord of the rings"]

In [21]:
pd.Series(books_list)

0                   hamlet
1      pride and prejudice
2    the lord of the rings
dtype: object

In [22]:
books_list = [0:"hamlet",1:"pride and prejudice",2:"the lord of the rings"]

SyntaxError: invalid syntax (3284333505.py, line 1)

In [23]:
books_dict = {0:"hamlet",1:"pride and prejudice",2:"the lord of the rings"}

In [24]:
pd.Series(books_dict)

0                   hamlet
1      pride and prejudice
2    the lord of the rings
dtype: object

In [25]:
list_s = pd.Series(books_list)

In [26]:
dict_s = pd.Series(books_dict)

In [27]:
list_s.equals(dict_s)

True

In [28]:
pd.Series(654)

0    654
dtype: int64

In [30]:
pd.Series("anup")

0    anup
dtype: object

In [31]:
pd.Series(Ages)

0    23
1    67
2    89
dtype: int64

In [32]:
Ages

[23, 67, 89]

In [33]:
pd.Series(Ages, dtype= 'float')

0    23.0
1    67.0
2    89.0
dtype: float64

In [ ]:
# Dtype for series containing string become an object automatically

In [34]:
students

['ruchi', 'radhey', 'krishna']

In [35]:
names_series = pd.Series(students)

In [36]:
names_series

0      ruchi
1     radhey
2    krishna
dtype: object

In [37]:
names_series.dtype

dtype('O')

In [38]:
height = [123,456,129]

In [39]:
height2 = [173.5,"167",123.7]

In [40]:
pd.Series(height2)

0    173.5
1      167
2    123.7
dtype: object

In [41]:
list_s

0                   hamlet
1      pride and prejudice
2    the lord of the rings
dtype: object

In [42]:
pd.Series(data = books_list, index =['serious','funny', 'interesting'])

serious                       hamlet
funny            pride and prejudice
interesting    the lord of the rings
dtype: object

In [43]:
pd.Series( books_list,['serious','funny', 'interesting'])

serious                       hamlet
funny            pride and prejudice
interesting    the lord of the rings
dtype: object

In [44]:
pd.Series( books_list,['serious','funny', 'interesting'],dtype = "object")

serious                       hamlet
funny            pride and prejudice
interesting    the lord of the rings
dtype: object

In [45]:
pd.Series( books_list,['serious','funny', 'interesting'],dtype = "string")

serious                       hamlet
funny            pride and prejudice
interesting    the lord of the rings
dtype: string